@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Megrim&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    overscroll-behavior: none;
    overflow: hidden;
}

body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

#Home {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

#childs{
    background-image: url('./img/final-back_build_dai.svg');
    background-color: gray;
    background-size: cover;
    overflow: hidden;
}